<div class="content">

    <section class="form">
        <p class="form-definition">Fill in the form to publish a news item</p>
        <div class="form-items">
            <label for="news-title" class="form-label">Title</label>
            <input type="text" id="news-title" placeholder="" class="form-input" [(ngModel)]="n_title" required />
            <label for="news-image" class="form-label">Image (url)</label>
            <input type="url" id="news-image" placeholder="http://example.com/images/787896" class="form-input"
                [(ngModel)]="n_image" required />
            <label for="news-content" class="form-label">Content</label>
            <textarea id="news-content" placeholder="" class="form-input" [(ngModel)]="n_content" required></textarea>
            <label for="news-date" class="form-label">Date</label>
            <input type="date" id="news-date" placeholder="" class="form-input" [(ngModel)]="n_date" required />
            <button class="form-button" (click)="uploadNews()">Publish</button>
        </div>
    </section>

    <aside class="articles">
        <p class="news-title">News</p>
        <div class="articles-container">
            <div class="news-list" [innerHTML]="addNews">
                <!-- add news list -->

            </div>
        </div>
    </aside>

</div>