<div class="content">

    <section class="form">
        <p class="form-definition">Fill in the form to publish a news item</p>
        <div class="form-items">
            <label for="news-title" class="form-label">Title</label>
            <input type="text" id="news-title" placeholder="" class="form-input" required />
            <label for="news-image" class="form-label">Image (url)</label>
            <input type="url" id="news-image" placeholder="http://example.com/images/787896" class="form-input"
                required />
            <label for="news-content" class="form-label">Content</label>
            <textarea id="news-content" placeholder="" class="form-input" required></textarea>
            <label for="news-date" class="form-label">Date</label>
            <input type="date" id="news-date" placeholder="" class="form-input" required />
            <button class="form-button">Publish</button>
        </div>
    </section>

    <aside class="articles">
        <p class="news-title">News</p>
        <div class="articles-container">
            <div class="news-list">
                <article class="news-item">
                    <img src="https://www.manquepierda.com/historiarealbetis/files/2018/08/Alav%C3%A9s-2016-17-400x200.jpg"
                        alt="" class="news-image">
                    <h1 class="news-title">
                        El Deportivo Alavés regresa a Primera División en San Mamés frente al Athletic (4-0)
                    </h1>
                    <p class="news-content">
                        Veintiún años, cinco meses y diecisiete días después de su primer descenso a Segunda -26 de
                        marzo de 1933-, el Deportivo Alavés regresa a la máxima categoría futbolística estatal: Primera
                        División. Lo hace en un campo mítico: San Mamés. Frente a un rival histórico: Athletic. ¡El
                        Glorioso ha vuelto!
                    </p>
                    <span class="news-date">2016/05/16</span>
                </article>
                <article class="news-item">
                    <img src="https://imagenes.elpais.com/resizer/01RdFghZcxDSp9_mZ5FT6CJkxl4=/414x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/WHEW2CJKKM5E56WHF3AQVWWAFM.jpg"
                        alt="" class="news-image">
                    <h1 class="news-title">
                        El Alavés solicitará nueve años y medio de prisión para Dimitry Piterman y José Nereo
                    </h1>
                    <p class="news-content">
                        El Deportivo Alavés anunció este miércoles que solicitará en total nueve años y medio de prisión
                        para Dimitry Piterman y José Nereo Ruiz Vicente por "la presunta comisión de delito continuado
                        de apropiación indebida, falsedad contable y delito societario" durante su etapa en el club
                        vitoriano entre 2004 y 2007.
                    </p>
                    <span class="news-date">2022/06/29</span>
                </article>
            </div>
        </div>
    </aside>

</div>